*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ?  CONTAINER MIDDLE  */
.container{
    margin: 0 auto;
}

/* ? ROW  */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clm{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

[class*="clm-"]{
    flex:0 0 auto;
}

/* ? LE CLM VARIANO NEI DIVERSI SCHERMI */
/* !  Extra small XS  */
@media screen and (max-width:575px){

    /* column(sezione con contenuto) */
    .clm-xs-1{
        width:calc((100% / 12) * 1);
        max-width:calc((100% / 12) * 1) ;
    }

    .clm-xs-2{
        width:calc((100% / 12) * 2);
        max-width:calc((100% / 12) * 2) ;
    }

    .clm-xs-3{
        width:calc((100% / 12) * 3);
        max-width:calc((100% / 12) * 3); 
    }

    .clm-xs-4{
        width:calc((100% / 12) * 4);
        max-width:calc((100% / 12) * 4);
    }

    .clm-xs-5{
        width:calc((100% / 12) * 5);
        max-width:calc((100% / 12) * 5);
    }

    .clm-xs-6{
        width:calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }

    .clm-xs-7{
        width:calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }

    .clm-xs-8{
        width:calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }

    .clm-xs-9{
        width:calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }

    .clm-xs-10{
        width:calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }

    .clm-xs-11{
        width:calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }

    .clm-xs-12{
        width:calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }

    /* offset margin */

    .offset-xs-1{
        margin-left: calc((100% / 12) * 1);
    }

    .offset-xs-2{
        margin-left: calc((100% / 12) * 2);
    }

    .offset-xs-3{
        margin-left: calc((100% / 12) * 3);
    }

    .offset-xs-4{
        margin-left: calc((100% / 12) * 4);
    }

    .offset-xs-5{
        margin-left: calc((100% / 12) * 5);
    }

    .offset-xs-6{
        margin-left: calc((100% / 12) * 6);
    }

    .offset-xs-7{
        margin-left: calc((100% / 12) * 7);
    }

    .offset-xs-8{
        margin-left: calc((100% / 12) * 8);
    }

    .offset-xs-9{
        margin-left: calc((100% / 12) * 9);
    }

    .offset-xs-10{
        margin-left: calc((100% / 12) * 10);
    }

    .offset-xs-11{
        margin-left: calc((100% / 12) * 11);
    }

    .offset-xs-12{
        margin-left: calc((100% / 12) * 12);
    }


}

/* ! SMALL  sm */

@media screen and  (min-width:576px) and (max-width:767px){

    /* column(sezione con contenuto) */
    .clm-sm-1{
        width:calc((100% / 12) * 1);
        max-width:calc((100% / 12) * 1) ;
    }

    .clm-sm-2{
        width:calc((100% / 12) * 2);
        max-width:calc((100% / 12) * 2) ;
    }

    .clm-sm-3{
        width:calc((100% / 12) * 3);
        max-width:calc((100% / 12) * 3) ;
    }

    .clm-sm-4{
        width:calc((100% / 12) * 4);
        max-width:calc((100% / 12) * 4) ;
    }

    .clm-sm-5{
        width:calc((100% / 12) * 5);
        max-width:calc((100% / 12) * 5) ;
    }

    .clm-sm-6{
        width:calc((100% / 12) * 6);
        max-width:calc((100% / 12) * 6) ;
    }

    .clm-sm-7{
        width:calc((100% / 12) * 7);
        max-width:calc((100% / 12) * 7);
    }

    .clm-sm-8{
        width:calc((100% / 12) * 8);
        max-width:calc((100% / 12) * 8);
    }

    .clm-sm-9{
        width:calc((100% / 12) * 9);
        max-width:calc((100% / 12) * 9);
    }

    .clm-sm-10{
        width:calc((100% / 12) * 10);
        max-width:calc((100% / 12) * 10);
    }

    .clm-sm-11{
        width:calc((100% / 12) * 11);
        max-width:calc((100% / 12) * 11);
    }

    .clm-sm-12{
        width:calc((100% / 12) * 12);
        max-width:calc((100% / 12) * 12);
    }

       /* ******** offset margin left **** */

    .offset-sm-1{
        margin-left: calc((100% / 12) * 1);
    }

    .offset-sm-2{
        margin-left: calc((100% / 12) * 2);
    }

    .offset-sm-3{
        margin-left: calc((100% / 12) * 3);
    }

    .offset-sm-4{
        margin-left: calc((100% / 12) * 4);
    }

    .offset-sm-5{
        margin-left: calc((100% / 12) * 5);
    }

    .offset-sm-6{
        margin-left: calc((100% / 12) * 6);
    }

    .offset-sm-7{
        margin-left: calc((100% / 12) * 7);
    }

    .offset-sm-8{
        margin-left: calc((100% / 12) * 8);
    }

    .offset-sm-9{
        margin-left: calc((100% / 12) * 9);
    }

    .offset-sm-10{
        margin-left: calc((100% / 12) * 10);
    }

    .offset-sm-11{
        margin-left: calc((100% / 12) * 11);
    }

    .offset-sm-12{
        margin-left: calc((100% / 12) * 12);
    }
}

/* ! MEDIUM MD */
@media screen and (min-width:768px) and (max-width: 991px){

    /* column(sezione con contenuto) */
    .clm-md-1{
        width:calc((100% / 12) * 1);
        max-width:calc((100% / 12) * 1);
    }

    .clm-md-2{
        width:calc((100% / 12) * 2);
        max-width:calc((100% / 12) * 2);
    }

    .clm-md-3{
        width:calc((100% / 12) * 3);
        max-width:calc((100% / 12) * 3);
    }

    .clm-md-4{
        width:calc((100% / 12) * 4);
        max-width:calc((100% / 12) * 4);
    }

    .clm-md-5{
        width:calc((100% / 12) * 5);
        max-width:calc((100% / 12) * 5);
    }

    .clm-md-6{
        width:calc((100% / 12) * 6);
        max-width:calc((100% / 12) * 6);
    }

    .clm-md-7{
        width:calc((100% / 12) * 7);
        max-width:calc((100% / 12) * 7);
    }

    .clm-md-8{
        width:calc((100% / 12) * 8);
        max-width:calc((100% / 12) * 8);
    }

    .clm-md-9{
        width:calc((100% / 12) * 9);
        max-width:calc((100% / 12) * 9);
    }

    .clm-md-10{
        width:calc((100% / 12) * 10);
        max-width:calc((100% / 12) * 10);
    }

    .clm-md-11{
        width:calc((100% / 12) * 11);
        max-width:calc((100% / 12) * 11);
    }

    .clm-md-12{
        width:calc((100% / 12) * 12);
        max-width:calc((100% / 12) * 12);
    }

    /*  ********** offset margin **************/

    .offset-md-1{
        margin-left: calc((100% / 12) * 1);
    }

    .offset-md-2{
        margin-left: calc((100% / 12) * 2);
    }

    .offset-md-3{
        margin-left: calc((100% / 12) * 3);
    }

    .offset-md-4{
        margin-left: calc((100% / 12) * 4);
    }

    .offset-md-5{
        margin-left: calc((100% / 12) * 5);
    }

    .offset-md-6{
        margin-left: calc((100% / 12) * 6);
    }

    .offset-md-7{
        margin-left: calc((100% / 12) * 7);
    }

    .offset-md-8{
        margin-left: calc((100% / 12) * 8);
    }

    .offset-md-9{
        margin-left: calc((100% / 12) * 9);
    }

    .offset-md-10{
        margin-left: calc((100% / 12) * 10);
    }

    .offset-md-11{
        margin-left: calc((100% / 12) * 11);
    }

    .offset-md-12{
        margin-left: calc((100% / 12) * 12);
    }
}

/* !  Large lg */
@media screen and (min-width:992px){

    /* column(sezione con contenuto) */
    .clm-lg-1{
        width:calc((100% / 12) * 1);
        max-width:calc((100% / 12) * 1) ;
    }

    .clm-lg-2{
        width:calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2) ;
    }

    .clm-lg-3{
        width:calc((100% / 12) * 3);
        max-width:calc((100% / 12) * 3) ;
    }

    .clm-lg-4{
        width:calc((100% / 12) * 4);
        max-width:calc((100% / 12) * 4) ;
    }

    .clm-lg-5{
        width:calc((100% / 12) * 5);
        max-width:calc((100% / 12) * 5) ;
    }

    .clm-lg-6{
        width:calc((100% / 12) * 6);
        max-width:calc((100% / 12) * 6) ;
    }

    .clm-lg-7{
        width:calc((100% / 12) * 7);
        max-width:calc((100% / 12) * 7) ;
    }

    .clm-lg-8{
        width:calc((100% / 12) * 8);
        max-width:calc((100% / 12) * 8) ;
    }

    .clm-lg-9{
        width:calc((100% / 12) * 9);
        max-width:calc((100% / 12) * 9) ;
    }

    .clm-lg-10{
        width:calc((100% / 12) * 10);
        max-width:calc((100% / 12) * 10) ;
    }

    .clm-lg-11{
        width:calc((100% / 12) * 11);
        max-width:calc((100% / 12) * 11) ;
    }

    .clm-lg-12{
        width:calc((100% / 12) * 12);
        max-width:calc((100% / 12) * 12) ;
    }

       /* ***************offset margin */

    .offset-lg-1{
        margin-left: calc((100% / 12) * 1);
    }

    .offset-lg-2{
        margin-left: calc((100% / 12) * 2);
    }

    .offset-lg-3{
        margin-left: calc((100% / 12) * 3);
    }

    .offset-lg-4{
        margin-left: calc((100% / 12) * 4);
    }

    .offset-lg-5{
        margin-left: calc((100% / 12) * 5);
    }

    .offset-lg-6{
        margin-left: calc((100% / 12) * 6);
    }

    .offset-lg-7{
        margin-left: calc((100% / 12) * 7);
    }

    .offset-lg-8{
        margin-left: calc((100% / 12) * 8);
    }

    .offset-lg-9{
        margin-left: calc((100% / 12) * 9);
    }

    .offset-lg-10{
        margin-left: calc((100% / 12) * 10);
    }

    .offset-lg-11{
        margin-left: calc((100% / 12) * 11);
    }

    .offset-lg-12{
        margin-left: calc((100% / 12) * 12);
    }

}